# Python Pandas Tutorial (Part 3): 
### Indexes - How to set, reset and use indexes

In [2]:
people = {"first": ["Corey","Jane","John"],
         "last":["Shafer", "Doe", "Doe"],
         "email":["CoreyMSchafer@gmail.com","JaneDoe@email.com", "JohnDoe@email.com"]}
people
people["email"][1]

'JaneDoe@email.com'

In [3]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /home/ubunbu/anaconda3/envs/jupyter/lib/python3.9/site-packages (1.3.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/ubunbu/anaconda3/envs/jupyter/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/ubunbu/anaconda3/envs/jupyter/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /home/ubunbu/anaconda3/envs/jupyter/lib/python3.9/site-packages (from pandas) (1.21.2)
Requirement already satisfied: six>=1.5 in /home/ubunbu/anaconda3/envs/jupyter/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [4]:
#inplace = True (will mod the dataframe)
df = pd.DataFrame(people)

## SET Index method
<code>.set_index("column_name")</code>

In [5]:
df.set_index("email", inplace = True) #makes the index inplace

In [6]:
## pandas does not rally modify the dataframe
## unliess inplace = false

#this will show the index
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [7]:
# why is this useful? Nice Identifyer. 
# Index is the lables for the Rows

In [8]:
df.loc["CoreyMSchafer@gmail.com", "last"]

'Shafer'

In [9]:
#can use <code>.iloc[]</code> to read the index
df.iloc[0]

first     Corey
last     Shafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [10]:
# Now we have the row for this row index

### Reset Index Method  
<code>df.reset_index(inplace = true)</code>

In [33]:
df.reset_index(inplace = True)

In [34]:
# Why is using indexing useful?
# lets pull the pokemon dat a-set

### Useful tricks

In [39]:
pok_csv = pd.read_csv("Pokemon.csv")
poke_df = pd.DataFrame(pok_csv)
poke_df.head(4)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False

In [40]:
poke_df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

#### We notice that # has an UNIQUE ID  
Lets remove the index.

In [43]:
# We can modify the READ_CSV file by adding a index_col = "#" argument
pok_csv = pd.read_csv("Pokemon.csv", index_col = '#') # <---here
# set the index as #
poke_df = pd.DataFrame(pok_csv)
poke_df.head(4)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False

In [54]:
#sort metiond
poke_df.sort_index(ascending=False).head(2)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True

In [55]:
 poke_df.loc[1, "Name"]

'Bulbasaur'

In [56]:
# lets sort by tye
poke_df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
...,...,...,...,...,...,...,...,...,...,...,...,...
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False