# Python

## Lambda Function<br>
### - A simple 1-line function<br>
### - Do not use def or return keywords. <br>
###   These are implicit

In [1]:
# traditional one variable function
def double(x):
    return x*2

In [2]:
# run double function
double(3)

6

In [6]:
# Lambda single variable function
lambda x:2*x # 2*x is the return

In [7]:
# Traditional Double Variable Function
def add(x, y):
    return x+y
add(3,2)

5

In [8]:
# Lambda Double Variable Function

lambda x,y:x+y

In [10]:
# Traditional Multi Variable Function

def mx(x,y):
    if x > y:
        return x
    else:
        return y
print(mx(3,6))

6

In [11]:
# Lambda multi variable function
lambda x,y: x if x>y else y

## map<br>
<code>.map()</code>
### - Apply same function to each element of a sequence
### - Return the modified list

In [12]:
#Concept
# List, [m,n,p]
# Function, f()  ->    [MAP]   ->    New list, [f(m), f(n), f(p)]

In [22]:
# Traditional Function
# prints [16,9,4,1]
def square(lst1):
    lst2 = []
    for num in lst1:
        lst2.append(num**2)
    return lst2
print(square([4,3,2,1]))

[16, 9, 4, 1]

In [23]:
# using lambda
n = [4,3,2,1]
print(list(map(lambda x:x**2,n)))

[16, 9, 4, 1]

In [33]:
# list comprehension solution:

print([x**2 for x in n])

[16, 9, 4, 1]

## Filter
### - Filter items out of a sequence
### Return Filtered List

In [35]:
#List, [m,n,p]      -> filter ->  New list , [m,n]
#Condition, c()

#                  if (m==condition)

In [37]:
# prints[4,3]

def over_two(lst1):
    lst2 = [x for x in lst1 if x > 2]
    return lst2
print(over_two([4,3,2,1]))

[4, 3]

In [39]:
# lambda
n = [4,3,2,1]
print(list(filter(lambda x:x>2,n)))

[4, 3]

## Reduce
### -Applies same opearation to items of a sequence
### -Uses result of operations as first param of next operation
### -Returns an item, not a list

In [40]:
# List, [m,n,p]
# Function , f()    ->   reduce ->  f(f(m,n),p)

In [42]:
# traditional function

def mult(lst1):
    prod = lst1[0]
    for i in range(1,len(lst1)):
        prod *= lst1[i]
    return prod

print(mult([4,3,2,1]))

24

In [48]:
from functools import reduce

n = [4,3,2,1]
print(reduce(lambda x,y:x*y, n))

24

In [49]:
# 4*3 = 12
# 12 *2 = 24
# 24 *1 = 24